[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/kagurasumusun/llvm-project.git
	branch = llvm-wince
[submodule "wince-crt"]
	path = wince-crt
	url = https://github.com/kagurasumusun/wince-crt.git
	branch = main
[submodule "wince-api"]
	path = wince-api
	url = https://github.com/kagurasumusun/wince-api.git
	branch = main
[submodule "pthread-win32"]
	path = pthread-win32
	url = https://github.com/kagurasumusun/pthread-win32.git
	branch = master
